data/carbosense-raw/CO2_merged.csv filter=lfs diff=lfs merge=lfs -text
data/footpath_map.pickle filter=lfs diff=lfs merge=lfs -text
path_data+footpath_map.pickle filter=lfs diff=lfs merge=lfs -text
path_data+connections_data.pickle filter=lfs diff=lfs merge=lfs -text
path_data+stops.pickle filter=lfs diff=lfs merge=lfs -text
path_data+trips.pickle filter=lfs diff=lfs merge=lfs -text
